.modal{
    position:fixed;
    margin: 0;
    justify-content: center;
    display:flex;
    align-items: center;
}
.modalContent{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid gray;
    padding:10px;
    width:50%;
}
.modalBody{

    padding: 10px;
}
.button{
    background-color:gray;
    margin: auto;
    

}
